/******************************************
/* CSS
/*******************************************/
h1,
section {
    display: flex;
    justify-content: center;
}

label {
    font-size: large;
    margin-right: .2%;
}

section {
    margin-top: 3%;
}

button {
    margin-left: .2%;
}

img {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 3%;
    width: 45%;
    height: 45%;
}

body{
    background-color: gray;
}

.hidden{
    display: none;
}